ul.about-menu
  - @articles.each do |article|
	li class=( active = (params[:controller] == 'publications' && params[:action] == 'show_about' && @article && @article.id == article.id ); active ? 'active' : '' )
	  = link_to_unless active, (article.send("name_#{I18n.locale}")), article.to_param