<!-- Footer -->
<div id="footer">  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div id="developed-by">
            <div class="image-container">
              <%= link_to( image_tag('logos/voronin-studio-label-white-1.png'), "http://voroninstudio.eu/#{I18n.locale}" ) %>
            </div>
            <p><%= t("footer.developed-by", link: "http://voroninstudio.eu/#{I18n.locale}" ) %> <%# link_to('Інформація про сайт.', '#') %></p>
          </div>
        </div>
      <div class="large-6 medium-6 columns">
        <div id="project-copyright">
          <p class="right"><%= raw t("footer.copyright", year: "2015") %> <%# link_to('Всі права застережено.', '#') %></p>
        </div>
        </div>
      </div>
    </div> 
  </footer>
</div>