

<div id="sponsors">
  <div class="row">
    <!--<div class="large-3 columns">-->
        <!--<a href="" class="bwWrapper" ><img src="" class="greyScale" /></a>-->
    <!--</div>-->
  <!--  <div class="large-3 columns">
      &lt;!&ndash;<a href="" alt="" alt, class: 'greyScale'),'#', class: 'bwWrapper' ) %>&ndash;&gt;
    </div>-->

    <div class="large-3 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/1.jpg" class="greyScale" />
      </a>
    </div>

    <div class="large-3 columns">
      <a href="" class="bwWrapper">
        Фонд сприяння демократії Посольства США в Україні
      </a>
    </div>

    <div class="large-3 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/3.jpg" class="greyScale" />
      </a>
    </div>

    <div class="large-3 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/4.jpg" class="greyScale" />
      </a>
    </div>

    <div class="large-3 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/5.png" class="greyScale" />
      </a>
    </div>

    <div class="large-3 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/6.png" class="greyScale" />
      </a>
    </div>

    <div class="large-2 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/7.png" class="greyScale" />
      </a>

      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/8.png" class="greyScale" />
      </a>
    </div>

    <div class="large-2 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/9.png" class="greyScale" />
      </a>
    </div>

    <div class="large-2 columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/10.png" class="greyScale" />
      </a>
    </div>
  </div>
</div>