<% content = FooterCompaniesMarkup.content %>
<% if content.present? %>
<%= content %>
<% else %>

<div id="sponsors">
  <div class="row">
    <!--<div class="large-3 columns">-->
        <!--<a href="" class="bwWrapper" ><img src="" class="greyScale" /></a>-->
    <!--</div>-->
  <!--  <div class="large-3 columns">
      &lt;!&ndash;<a href="" alt="" alt, class: 'greyScale'),'#', class: 'bwWrapper' ) %>&ndash;&gt;
    </div>-->

    <div class="large-3 medium-6 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/1.jpg" class="greyScale" />
      </a>
    </div>

    <div class="large-3 medium-6 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
      <a href="http://www.dvv-international.org.ua/" class="bwWrapper">
        Фонд сприяння демократії Посольства США в Україні
      </a>
    </div>

    <div class="large-3 medium-6 small-8 small-centered medium-uncentered columns" >
      <a href="http://www.irf.ua/" class="bwWrapper">
        <img src="/assets/sponsors/new/3.jpg" class="greyScale" />
      </a>
    </div>

    <div class="large-3 medium-6 small-8 small-centered medium-uncentered columns">
      <a href="http://www.un.org/democracyfund/" class="bwWrapper">
        <img src="/assets/sponsors/new/4.jpg" class="greyScale" />
      </a>
    </div>

    <div class="large-6 medium-12 small-12 columns" style="clear: left">
      <div class="row">
        <div class="large-3 medium-3 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
          <a href="http://www.mott.org/" class="bwWrapper">
            <img src="/assets/sponsors/new/5.png" class="greyScale" />
          </a>
        </div>

        <div class="large-3 medium-3 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
          <a href="" class="bwWrapper">
            <img src="/assets/sponsors/new/6.png" class="greyScale" />
          </a>
        </div>

        <div class="large-3 medium-3 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
          <a href="http://eeas.europa.eu/delegations/ukraine/index_uk.htm" class="bwWrapper">
            <img src="/assets/sponsors/eur.jpg" class="greyScale" />
          </a>
        </div>

        <div class="large-3 medium-3 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
          <a href="http://www.ua.undp.org/content/ukraine/uk/home.html" class="bwWrapper">
            <img src="/assets/sponsors/undp-ukraine.png" class="greyScale" />
          </a>
        </div>
      </div>
    </div>

    <div class="large-2 medium-4 small-8 small-centered medium-uncentered columns" style="min-height: 95px">
      <a href="http://www.ofii.fr/defaut.php3" class="bwWrapper" style="margin-right: 1rem;margin-top: 15px;margin-bottom:15px;">
        <img src="/assets/sponsors/new/7.png" class="greyScale" />
      </a>

      <a href="http://www.irp-fundacja.pl/" class="bwWrapper">
        <img src="/assets/sponsors/new/8.png" class="greyScale" />
      </a>
    </div>

    <div class="large-2 medium-3 small-4  small-centered medium-uncentered columns">
      <a href="http://iom.org.ua/ua" class="bwWrapper">
        <img src="/assets/sponsors/new/9.png" class="greyScale" />
      </a>
    </div>

    <div class="large-2 medium-3 small-4 left small-offset-4 medium-offset-0 medium-uncentered columns">
      <a href="" class="bwWrapper">
        <img src="/assets/sponsors/new/10.png" class="greyScale" />
      </a>
    </div>
  </div>
</div>
<% end %>