$page-section-title-color: $orange-color;
$page-section-title-font-size: 1.4rem;
$page-section-title-font-weight: 700;
$page-section-title-line-height: 4rem;
$page-section-title-text-transform: uppercase;
$gray-section-background-color: #ebebeb;

@mixin page_section_title{
  color: $page-section-title-color;
  font-size: $page-section-title-font-size;
  text-transform: $page-section-title-text-transform;
  font-weight: $page-section-title-font-weight;
  line-height: $page-section-title-line-height;
}


.page-title, .visual-h1, .visual-h2{
  color: $orange-color;
  font-weight: 700;
}



.page-title, .visual-h1{
  text-transform: uppercase;
  font-size: 1.5rem;
}

.visual-h2{
  font-size: 1.3rem;
}

.page-section{
  padding-top: #{$vertical-indent-between-sections / 2};
  padding-bottom: #{$vertical-indent-between-sections / 2};

  &.inner-indent-for-backround{
    padding-top: #{$vertical-indent-between-sections - 1rem};
    padding-bottom: #{$vertical-indent-between-sections};

    background-color: $gray-section-background-color;

    & + .page-section {
      padding-top: #{$vertical-indent-between-sections};
    }
  }

  &.post-background-section{
    padding-top: #{$vertical-indent-between-sections};
  }

  &.no-padding-top{
    padding-top: 0;
  }
}

.page-section-title{
  @include page_section_title;
}