#body[data-controller=publications][data-action=index]{
  #breadcrumbs-wrapper{
    margin-bottom: 0;
  }


}



.list{
  @include grid-row;
}

.tags{
  margin: 0 0 40px 0;
  .tags-dropdown-arrow{
    display: none;
    svg{
      width: 30px;
    }
  }
  .tag{
    display: inline-block;
    &:after{
      content: ",";
      margin-right: 5px;
    }

    &:last-child{
      &:after {
        content: none;
      }
    }

    a{
      color: #acacac;
      &:after{
        content: attr(data-entries-count);
        vertical-align: top;
        font-size: 12px;
        margin: 0 3px;
      }
    }
    &.active{
      a {
        color: $orange-color;
      }
    }
  }
}

.sorting{
  text-align: right;
  .sorting-direction{
    display: inline-block;
    background: $blue-color;
    width: 30px;
    height: 30px;
    padding: 7px;
    margin: 0 5px 0 0;



    &.active{
      background: $orange-color;
    }

    &:last-child{
      margin: 0;
    }
  }
  svg{
    display: block;
    width: 16px;
    fill: white;
  }
}

.list-article-column{
  float: left !important;

  &:nth-child(3n+4){
    clear: left;
  }

  .list &{
    margin-bottom: 80px;

    .home-publication-name{
      font-size: 16px;
    }

    .home-publication-description{
      margin-bottom: 10px;
    }

    .attachment-icons{
      margin-top: 0;
    }

    .read-more + .attachment-icons{
      margin-top: 10px;
    }

    .attachment-icon-a-img{
      width: 25px;
      height: 25px;
    }

    .article-tags{
      margin: -15px 0 10px 0;

      .tag{
        font-size: 0.8rem;
        font-weight: 100;
        color: #898989;
        display: inline-block;
        &:after{
          content: ",";
          margin: 0 5px 0 0;
        }

        &:last-child{
          &:after{
            content: none;
          }
        }
      }

    }
  }
}

.article-date-value{
  .tag{
    display: inline-block;

    &:after{
      content: ",";
      margin: 0 3px 0 0;
    }

    &:last-child{
      &:after{
        content: none;
      }
    }
  }
}


.publications-list-page{
  .featured-publications-row{
    > .columns{
      position: relative;
    }
  }
  .featured-publication{
    position: relative;
    //padding-top: 50%;
    //padding: 66.666% 0 0 0;
    //height: 0;

    .column-inner{
      top: 0;
      width: 100%;
      //position: absolute;
      display: block;
      padding: 50% 0 0 0;

      > a{
        position: absolute;
        display: block;
        top: 0;
        width: auto;
        //left: 0;
        //bottom: 0;
        //right: 0;
      }
    }


    &.featured-small:last-child {
      margin-top: 15px;
    }
    
  }

  .featured-publication-title-and-date{
      background-color: $blue-color;
      padding: 0 1rem;
      height: 3.25rem;
      position: absolute;
      top: auto;
      bottom: 0;
      width: 100%;

    }

  .featured-publication-img{
    min-width: 100%;
  }
}

.featured-publication-date, .featured-publication-title{
  overflow: hidden;
  display: block;
}

.featured-publication-title{
  color: white;
  line-height: 2rem;
  height: 2rem;
}

.featured-publication-date{
  line-height: 1.25rem;
  height: 1.25rem;
  color: $gray-color;
}

.featured-publication {
  &.featured-large {
    .featured-publication-title-and-date{
      height: 5.5rem;
    }

    .featured-publication-date {
      font-size: 1rem;
    }

    .featured-publication-title{
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }
  }

  &.featured-small {
    .featured-publication-date {
      font-size: 0.8rem;
    }
  }
}

.list-item{
  margin: 2.5rem 0 2.5rem 0;
  //float: none;
  display: inline-block;
  &:last-child{
    float: none !important;
  }

  &.publication-item{
    min-height: rem-calc(250);
  }
}

.list-item-title{
  height: 3rem;
  overflow: hidden;
}

.list-item-title-a{
  font-weight: 600;
}

.list-item-date{
  font-weight: 100;
  font-size: 0.8rem;
  margin: 0 0 0.7rem 0;
}

.list-item-short-description{
  overflow: hidden;
  max-height: 7.5rem;
  //margin: 0 0 0 30%;

  .has-attachments &{
    max-height: 6rem;
  }
}

.list-item-thumb{
  width: 30%;
  float: left;
  margin: 0 2rem 0 0;
}

.attachment-icons{
  margin: 2rem 0 0 0;

  .article-subcategory-article &{
    margin: 1rem 0 0 0;
  }

  .about-article-title-and-content &{
    margin: 1rem 0 2rem 0;
  }
}

.attachment-icons-ul{
  display: inline-block;
  margin: 0 0 0 -0.5rem;
}

.attachment-icon-a-img{
  width: 40px;
  height: 40px;

}

.attachment-icon-li{
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
}


// ==========================================
// ------------------------------------------
// article item
// ------------------------------------------
// ==========================================

.article-details{
  margin: 0 0 2.5rem 0;
}

.article-date-label, .article-author-label{
  font-weight: 100;
  margin-right: 3px;
}

.article-intro{
  max-height: 6rem;
  overflow: hidden;
  font-style: italic;
}

.article-content{

  margin: 0 0 1rem 0;
  h3{
    color: $orange-color;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 2.5rem 0 1rem 0;
  }

  ul{
    li{
      &:before{
        content: "\2014";
      }
    }
  }

  ol{
    counter-reset: my-badass-counter;

    li{

      &:before{
        content: counter(my-badass-counter);
        counter-increment: my-badass-counter;



      }
    }
  }

  ul, ol{
    position: relative;
    list-style: none;
    padding: 0 0 0 2.5rem;

    li{
      margin: 0 0 14px 0;

      &:before{
        display: block;
        position: absolute;
        left: 0;
        text-align: center;
        width: 2.5rem;
        color: $orange-color;
        font-weight: 600;
      }
    }
  }

  p, ul, ol{
    margin: 0 0 1.75rem 0;
  }

  p img + span {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .quote{
    //font-size: 1.2rem;
    //font-weight: 300;
    //color: #fccf52;
    margin: 2.25rem 0 2rem 0;
    position: relative;
    font-style: italic;
    font-weight: 300;

    &:before, &:after{
      position: absolute;
      display: block;
      font-weight: 900;
      color: $orange-color;
      font-family: Roboto;
      opacity: 0.6;
    }

    &:before{
      content: "\AB";
      font-size: 10rem;
      top: 0;
      left: 0;
      line-height: 1rem;

    }

    &:after{
      content: "\BB";
      right: 0;
      bottom: 0;
      font-size: 4rem;
      line-height: 100%;

    }

    .quote-text{
      position: relative;
      display: block;
      padding: 0 30px 1rem 75px;
      z-index: 1;

      //color: white;
      //font-style: italic;
      //font-size: 1.3rem;
    }
    .quote-author{
      display: block;
      text-align: right;
      padding: 0 3rem 0 0;
    }
  }
}

#scroll-to-top{
  display: block;
  border-bottom: 1px $gray-color solid;
  height: 10px;
  text-align: center;
  &:before{
    content: "";

    @include css-triangle(10px, $gray-color, bottom);
    display: inline-block;
    position: relative;
    top: -11px;
  }

  &, &:before{
    @include transition-duration(0.5s);
    @include transition-property(border-bottom-color);
  }

  &:hover{
    &, &:before {
      border-bottom-color: $orange-color;
    }
  }
}

.pagination{
  display: block;
  text-align: center;

  .page{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 0 0;
    background: $blue-color;
    color: white;
    font-weight: 600;
    &.active{
      background: $orange-color;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}


// =================================================================
// -----------------------------------------------------------------
// about menu
// -----------------------------------------------------------------
// =================================================================

.about-menu{
  list-style: none;
  margin-left: 0;
  
  border-left: 1px $gray-color solid;
  li{
    text-transform: uppercase;
    color: $orange-color;
    line-height: 2rem;
    height: 2rem;
    overflow: hidden;
    font-weight: 600;
    position: relative;

    a{
      position: relative;

      display: block;
      color: $gray-color;
      line-height: inherit;
      height: inherit;
      overflow: inherit;
      font-weight: inherit;


    }

    a, &.active{
      padding: 0 0 0 1.5rem;
    }

    &.active{
      &:before{
        content: none;
      }
    }

    a:hover, &.active:hover{
      &:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 10px;
        border-color: transparent transparent transparent $gray-color;
      }
    }
  }
}

// what we do

.what-we-do-article-categories-list{
  .what-we-do-article-category{
    margin: 2rem 0;
    position: relative;
    overflow: hidden;

    .what-we-do-article-category-name{
      font-size: 3rem;
      font-weight: 800;
      color: white;
      line-height: 3rem;
      display: block;
      position: absolute;
      top: 50%;
      z-index: 2;
      left: 8%;
      width: 60%;



      @include transform(translate3d(0, -50%, 0));
      @include transition-property(all);
      @include transition-duration(0.5s);
      
      @media only screen and (max-width: 1024px) {
        font-size: 2rem;
        line-height: 2.25rem;
      }
    }

    .what-we-do-article-category-name-inner{
      position: relative;
      right: 0;
    }

    .layer{
      left: -15%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      background: no-repeat top left;
      background-size: cover;
      @include transition-duration(0.5s);
      @include transition-property(left);

    }

    &:hover, .touch &{
      .layer{
        left: -65%;
      }

      .what-we-do-article-category-name{
        left: 32%;
        //left: auto;
        //right: 8%;
        //left: 80%;
        //width: 84%;
        //@include transform(translate3d(92%, -50%, 0));
      }

      .what-we-do-article-category-name-inner{
        //text-align: right;
        float: right;
      }
    }
  }
}

// .what-we-do-category-page

.what-we-do-category-page{
  ul#article-subcategories-menu{
    float: right;
    list-style: none;

    li{
      display: inline-block;
      border-left: 1px $gray-color solid;

      &:first-child, &:hover + li{
        border-left: none;
      }


    }

    a{
      display: block;
      color: $gray-color;
      padding: 0 1.5rem;
      font-size: 1.1rem;

      &:hover{
        background-color: $gray-color;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.article-subcategory{
  padding: 3rem 0;

  &.article-category-with-bg{
    background: $extra-lightgray-color;
  }
}

.article-subcategory-article{
  //overflow: hidden;


  height: auto;

  &:after{
    width: 100%;
    background: $gray-color;
    height: 1px;
    margin: 3rem 0 3rem 0;
    content: "";
    display: block;
  }

  &:last-child{
    &:after{
      content: none;
    }
  }



    .article-content{
      @include transition-duration(0.5s);
      @include transition-property(all);
      overflow: hidden;
    }

    &.collapsed, &:not(.expanded) {
      .article-content {
        max-height: 210px;
      }
    }
    &.expanded {
      .article-content{
        max-height: 10000px;
      }
    }
}

.expander{
  float: right;
  color: $orange-color;

  &:before {
    @include css-triangle(7px, $orange-color, top);
    @include transition-property(all);
    @include transition-duration(0.3s);
    float: left;
    //top:7px;
    position: relative;
    top: 10px;
    left: -4px;
  }

  &:hover{
    text-decoration: none;
  }
}

.article-subcategory-article {

  .expand, .collapse {
    border-bottom: dashed 1px $orange-color;
  }

  &.collapsed, &:not(.expanded) {
    .collapse {
      display: none;
    }
  }

  &.expanded {

    .expander {
      &:before {
        @include transform(rotate(180deg) translateY(8px));
      }
    }

    .expand {
      display: none;
    }
  }
}

